# .gitignore File

obj/
bin/Debug/

Scripts_RelativeDirectories/_SW
Scripts_RelativeDirectories/Aufit-1.3
Scripts_RelativeDirectories/HxCFloppyEmulator_soft_beta
Scripts_RelativeDirectories/NConvert

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio 2015/2017 cache/options directory
.vs/

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc