<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RunGreaseWeazel.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <RunGreaseWeazel.My.MySettings>
            <setting name="SaveLoc" serializeAs="String">
                <value />
            </setting>
            <setting name="GWExe" serializeAs="String">
                <value />
            </setting>
            <setting name="Title" serializeAs="String">
                <value />
            </setting>
            <setting name="Company" serializeAs="String">
                <value />
            </setting>
            <setting name="System" serializeAs="String">
                <value />
            </setting>
            <setting name="COM" serializeAs="String">
                <value />
            </setting>
            <setting name="Drive" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="F7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Script" serializeAs="String">
                <value />
            </setting>
            <setting name="Disk" serializeAs="String">
                <value />
            </setting>
            <setting name="DiskOf" serializeAs="String">
                <value />
            </setting>
            <setting name="Rev" serializeAs="String">
                <value />
            </setting>
            <setting name="Multi" serializeAs="String">
                <value />
            </setting>
            <setting name="LoopDump" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExecuteScript" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoopDumpCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WideForm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartTrack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartTrackNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndTrack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EndTrackNo" serializeAs="String">
                <value>79</value>
            </setting>
            <setting name="AdjustWriteSpeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DataRate" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="IncludeDataRate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RPM" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="IncludeRPM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunningLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EraseEmpty" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeekA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SeekB" serializeAs="String">
                <value>83</value>
            </setting>
            <setting name="Sides" serializeAs="String">
                <value>0-1</value>
            </setting>
            <setting name="Stepping" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SeparateFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PythonExe" serializeAs="String">
                <value />
            </setting>
            <setting name="UsePython" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseWritePreCompensate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WPCType" serializeAs="String">
                <value>mfm</value>
            </setting>
            <setting name="WPCTracks" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="WPCTrackRange" serializeAs="String">
                <value>&gt;=</value>
            </setting>
            <setting name="WPCTrackWidth" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="HeadOffsetEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeadOffsetTrackCount" serializeAs="String">
                <value>-8</value>
            </setting>
            <setting name="DarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Retries" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="EnableRetries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CleanTimeMS" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EnableCleanTimeMS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CleanPasses" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="EnableCleanPasses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Manufacturer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DiskType" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SetManDisktype" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtremeSeek" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableWriteVerify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeekWithMotorOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeadOffsetHead" serializeAs="String">
                <value>1</value>
            </setting>
        </RunGreaseWeazel.My.MySettings>
    </userSettings>
</configuration>
